## <font color='greenblue'> Relatório Vigitel </font>

In [2]:
TOTAL = '0, 400, 400, 0, 400, 400, 0, 400, 400, 400, 400, 0, 0, 0, 400, 0, 0, 0, 0, 400, 0, 400, 400, 0, 400, 0, 0'
TOTAL = TOTAL.split(', ')

REPLICAS = '10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10' # Fixo
# REPLICAS = '30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30' # Celular
REPLICAS = REPLICAS.split(', ')

print(TOTAL)
for j, REP in enumerate(REPLICAS):
    if int(TOTAL[j]) == 0:
        print("É 0")

['0', '400', '400', '0', '400', '400', '0', '400', '400', '400', '400', '0', '0', '0', '400', '0', '0', '0', '0', '400', '0', '400', '400', '0', '400', '0', '0']
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0
É 0

In [1]:
import pandas as pd

bd = pd.read_excel("relatorio_elegiveis_fixo_teste.xlsx")
bd.head(13)

,ARACAJU,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,Réplica,TOTAL,Total,20.0,5.0,6.0,4.0,44.0,66.0,7.0,...,7 N.E,22.0,Out. Cid.,88.0,Tx.,Tx.,Recusa,Recusa,Recusa,Virgens
1,NaN,NaN,Elegíveis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33,NaN,Elegível,Sucesso,Total,Agenda,Entrev.,NaN
2,1,400,47,1.0,1.0,1.0,6.0,1.0,3.0,0.0,...,247,0.0,2,0.0,11.8%,.0%,0.0%,0.0%,0.0%,0
3,2,400,29,2.0,0.0,2.0,4.0,1.0,0.0,0.0,...,193,0.0,1,0.0,9.5%,.0%,0.0%,0.0%,0.0%,96
4,3,400,15,0.0,0.0,4.0,1.0,2.0,0.0,0.0,...,71,0.0,2,0.0,5.1%,.0%,0.0%,0.0%,0.0%,108
5,4,400,22,0.0,0.0,2.0,1.0,2.0,0.0,0.0,...,135,2.0,2,0.0,9.0%,.0%,0.0%,0.0%,0.0%,156
6,5,400,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,0.0,0,0.0,33.3%,.0%,0.0%,0.0%,0.0%,397
7,6,400,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,0.0,0,0.0,33.3%,.0%,100.0%,100.0%,0.0%,397
8,7,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
9,8,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
10,9,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
11,10,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
12,NaN,4000,115,3.0,1.0,9.0,13.0,6.0,3.0,0.0,...,650,2.0,7,0.0,9.2%,.0%,0.0%,0.0%,0.0%,2754

In [2]:
TOTAL = 400
REPLICAS = '10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10' # Fixo
# REPLICAS = '30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30' # Celular
REPLICAS = REPLICAS.split(', ')

COLUNAS = ['Réplica', 'TOTAL', 'Total Elegíveis', '20', '5', '6', '4', '44', '66', '7', '8', '9', '10', '55', '88 Eleg', 
           'Total Não Eleg', '1', '2', '3', '7 N.E', '22', 'Out. Cid. 33', '88 Não Eleg', 
           'Tx. Elegível', 'Tx. Sucesso', 'Recusa Total', 'Recusa Agenda', 'Recusa Entrev.', 'Virgens']

def buscar_cidades(SOMA_LINHAS=0, SOMA_FIXA=3, REPLICAS=[], bd=pd.DataFrame()):
        lista_cidades = []
        for i, rep in enumerate(REPLICAS):
            if i == 0:
                print(bd.columns[0])
                lista_cidades.append(bd.columns[0])
            elif i == 1:
                print(bd.iloc[SOMA_LINHAS + int(rep) + SOMA_FIXA, 0])
                lista_cidades.append(bd.iloc[SOMA_LINHAS + int(rep) + SOMA_FIXA, 0])
                SOMA_LINHAS += int(rep) + SOMA_FIXA 
            else:
                print(bd.iloc[SOMA_LINHAS + int(rep) + SOMA_FIXA + 1, 0])
                lista_cidades.append(bd.iloc[SOMA_LINHAS + int(rep) + SOMA_FIXA + 1, 0])
                SOMA_LINHAS += int(rep) + SOMA_FIXA + 1
        return lista_cidades

CIDADES = buscar_cidades(SOMA_LINHAS=0, SOMA_FIXA=3, REPLICAS=REPLICAS, bd=bd)


bd_todas_cidades = []
CONTAGEM_LINHAS = 4
SOMA_LINHAS = 0

ARACAJU
BELEM
BELO HORIZONTE
BOA VISTA
BRASILIA
CAMPO GRANDE
CUIABA
CURITIBA
FLORIANOPOLIS
FORTALEZA
GOIANIA
JOAO PESSOA
MACAPA
MACEIO
MANAUS
NATAL
PALMAS
PORTO ALEGRE
PORTO VELHO
RECIFE
RIO BRANCO
RIO DE JANEIRO
SALVADOR
SAO LUIS
SAO PAULO
TERESINA
VITORIA

In [3]:
#===== Selecionando o dataframe para cada cidade =====#
tabela = bd.loc[(2 + SOMA_LINHAS):(int(REPLICAS[0]) + 2), :]
tabela.columns = COLUNAS
tabela = tabela[['Réplica', 'TOTAL', 'Total Elegíveis', '20', '5', '6', '4', '44', '66', '7', '8', '9', '10', '88 Eleg', 
    'Total Não Eleg', '1', '2', '3', '7 N.E', '22', 'Out. Cid. 33', '88 Não Eleg', 
    'Tx. Elegível', 'Tx. Sucesso', 'Recusa Total', 'Recusa Agenda', 'Recusa Entrev.', 'Virgens']]
tabela.reset_index(inplace=True)
tabela = tabela.iloc[:, 1:]
tabela

,Réplica,TOTAL,Total Elegíveis,20,5,6,4,44,66,7,...,7 N.E,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens
0,1,400,47,1.0,1.0,1.0,6.0,1.0,3.0,0.0,...,247,0.0,2,0.0,11.8%,.0%,0.0%,0.0%,0.0%,0
1,2,400,29,2.0,0.0,2.0,4.0,1.0,0.0,0.0,...,193,0.0,1,0.0,9.5%,.0%,0.0%,0.0%,0.0%,96
2,3,400,15,0.0,0.0,4.0,1.0,2.0,0.0,0.0,...,71,0.0,2,0.0,5.1%,.0%,0.0%,0.0%,0.0%,108
3,4,400,22,0.0,0.0,2.0,1.0,2.0,0.0,0.0,...,135,2.0,2,0.0,9.0%,.0%,0.0%,0.0%,0.0%,156
4,5,400,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,0.0,0,0.0,33.3%,.0%,0.0%,0.0%,0.0%,397
5,6,400,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,0.0,0,0.0,33.3%,.0%,100.0%,100.0%,0.0%,397
6,7,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
7,8,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
8,9,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
9,10,400,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
10,NaN,4000,115,3.0,1.0,9.0,13.0,6.0,3.0,0.0,...,650,2.0,7,0.0,9.2%,.0%,0.0%,0.0%,0.0%,2754

In [4]:
#===== Tratando 7 N.E | TOTAL | Total Não Eleg =====#
for k in range(2):
    for i in range(len(tabela["7 N.E"])):
        
        # Tratamento da coluna "Total Elegíveis"
        soma_eleg = tabela.loc[i, ['20', '5', '6', '4', '44', '66', '7', '8', '9', '10', '88 Eleg']].sum()
        tabela.loc[i, "Total Elegíveis"] = soma_eleg

        # Tratamento da coluna "7 N.E"
        if int(tabela.loc[i, "TOTAL"]) != int(TOTAL):
            valor_a_somar = int(TOTAL) - tabela.loc[i, "TOTAL"]
            tabela.loc[i, "7 N.E"] = tabela.loc[i, "7 N.E"] + valor_a_somar
        
        # Tratamento da coluna "Total Não Eleg"
        soma_nao_eleg = tabela.loc[i, ['1','2','3','7 N.E','22','Out. Cid. 33','88 Não Eleg']].sum()
        tabela.loc[i, "Total Não Eleg"] = soma_nao_eleg

        # Tratamento da coluna "TOTAL"
        soma_TOTAL = tabela.loc[i, ["Total Elegíveis", "Total Não Eleg", "Virgens"]].sum()
        tabela.loc[i, "TOTAL"] = soma_TOTAL
tabela[['Réplica', 'TOTAL', 'Total Elegíveis', "Total Não Eleg", '7 N.E', "Virgens"]]

   Réplica  TOTAL Total Elegíveis Total Não Eleg   7 N.E Virgens
0        1  400.0            47.0          353.0   248.0       0
1        2  400.0            30.0          274.0     193      96
2        3  400.0            15.0          277.0      71     108
3        4  400.0            22.0          222.0     135     156
4        5  400.0             1.0            2.0       2     397
5        6  400.0             1.0            2.0       2     397
6        7  400.0             0.0            0.0       0     400
7        8  400.0             0.0            0.0       0     400
8        9  400.0             0.0            0.0       0     400
9       10  400.0             0.0            0.0       0     400
10     NaN  400.0           116.0        -2470.0 -2949.0    2754

In [5]:
#===== Tx. Elegível =====#
for i in range(len(tabela["Tx. Elegível"])):
    denominador = ( tabela.loc[i, "TOTAL"] - tabela.loc[i, "Virgens"] )
    numerador = tabela.loc[i, "Total Elegíveis"]
    if denominador == 0:
        tabela.loc[i, "Tx. Elegível"] = 0
    else:
        tabela.loc[i, "Tx. Elegível"] = numerador / denominador

In [6]:
#===== Tx. Sucesso =====#
for i in range(len(tabela["Tx. Sucesso"])):
    denominador = tabela.loc[i, "Total Elegíveis"]
    numerador = tabela.loc[i, "20"]
    if denominador == 0:
        tabela.loc[i, "Tx. Sucesso"] = 0
    else:
        tabela.loc[i, "Tx. Sucesso"] = numerador / denominador

In [7]:
#===== Recusa Agenda | Recusa Entrev. | Recusa Total =====#
for i in range(len(tabela["Recusa Agenda"])):
    denominador = tabela.loc[i, "Total Elegíveis"]
    numerador_rec_agenda = tabela.loc[i, "4"]
    numerador_rec_entrev = tabela.loc[i, "44"]
    if denominador == 0:
        tabela.loc[i, "Recusa Agenda"] = 0
        tabela.loc[i, "Recusa Entrev."] = 0
    else:
        tabela.loc[i, "Recusa Agenda"] = numerador_rec_agenda / denominador
        tabela.loc[i, "Recusa Entrev."] = numerador_rec_entrev / denominador
    tabela.loc[i, "Recusa Total"] = (tabela.loc[i, "Recusa Agenda"] + tabela.loc[i, "Recusa Entrev."])

In [8]:
#===== Tratar a última linha de sub Total e rodar todas as formulas para calcular as taxas novamente =====#
tabela.iloc[ (int(REPLICAS[0])), : ] = tabela.iloc[ :(int(REPLICAS[0])), : ].sum()

for i in range(len(tabela["Tx. Elegível"])):
    denominador = ( tabela.loc[i, "TOTAL"] - tabela.loc[i, "Virgens"] )
    numerador = tabela.loc[i, "Total Elegíveis"]
    if denominador == 0:
        tabela.loc[i, "Tx. Elegível"] = 0
    else:
        tabela.loc[i, "Tx. Elegível"] = numerador / denominador


for i in range(len(tabela["Tx. Sucesso"])):
    denominador = tabela.loc[i, "Total Elegíveis"]
    numerador = tabela.loc[i, "20"]
    if denominador == 0:
        tabela.loc[i, "Tx. Sucesso"] = 0
    else:
        tabela.loc[i, "Tx. Sucesso"] = numerador / denominador


for i in range(len(tabela["Recusa Agenda"])):
    denominador = tabela.loc[i, "Total Elegíveis"]
    numerador_rec_agenda = tabela.loc[i, "4"]
    numerador_rec_entrev = tabela.loc[i, "44"]
    if denominador == 0:
        tabela.loc[i, "Recusa Agenda"] = 0
        tabela.loc[i, "Recusa Entrev."] = 0
    else:
        tabela.loc[i, "Recusa Agenda"] = numerador_rec_agenda / denominador
        tabela.loc[i, "Recusa Entrev."] = numerador_rec_entrev / denominador
    tabela.loc[i, "Recusa Total"] = (tabela.loc[i, "Recusa Agenda"] + tabela.loc[i, "Recusa Entrev."])

tabela.iloc[(int(REPLICAS[0])), 0] = "Sub Total:"
tabela

,Réplica,TOTAL,Total Elegíveis,20,5,6,4,44,66,7,...,7 N.E,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens
0,1,400.0,47.0,1.0,1.0,1.0,6.0,1.0,3.0,0.0,...,248.0,0.0,2,0.0,0.1175,0.021277,0.148936,0.12766,0.021277,0
1,2,400.0,30.0,2.0,0.0,2.0,4.0,1.0,0.0,0.0,...,193,0.0,1,0.0,0.098684,0.066667,0.166667,0.133333,0.033333,96
2,3,400.0,15.0,0.0,0.0,4.0,1.0,2.0,0.0,0.0,...,71,0.0,2,0.0,0.05137,0.0,0.2,0.066667,0.133333,108
3,4,400.0,22.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,...,135,2.0,2,0.0,0.090164,0.0,0.136364,0.045455,0.090909,156
4,5,400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,0.0,0,0.0,0.333333,0.0,0.0,0.0,0.0,397
5,6,400.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,0.0,0,0.0,0.333333,0.0,1.0,1.0,0.0,397
6,7,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
7,8,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
8,9,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
9,10,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
10,Sub Total:,4000.0,116.0,3.0,1.0,9.0,13.0,6.0,3.0,0.0,...,651.0,2.0,7,0.0,0.093098,0.025862,0.163793,0.112069,0.051724,2754

In [9]:
# Supondo que o dataframe original seja df
# Criar o DataFrame vazio com as colunas especificadas
df_total_geral = pd.DataFrame(columns=[
    'Réplica', 'TOTAL', 'Total Elegíveis', '20', '5', '6', '4', '44', '66', '7', '8', '9', '10', 
    '88 Eleg', 'Total Não Eleg', '1', '2', '3', '7 N.E', '22', 'Out. Cid. 33', '88 Não Eleg', 
    'Tx. Elegível', 'Tx. Sucesso', 'Recusa Total', 'Recusa Agenda', 'Recusa Entrev.', 'Virgens'
])

for j in range(2):
    # Copiar a linha 10 do DataFrame original
    linha_10 = tabela.iloc[int(REPLICAS[0]), :].to_frame().T

    # Concatenar a linha com o DataFrame vazio
    df_total_geral = pd.concat([df_total_geral, linha_10], ignore_index=True)

# Exibir o novo DataFrame
display(df_total_geral)
print(type(df_total_geral))

,Réplica,TOTAL,Total Elegíveis,20,5,6,4,44,66,7,...,7 N.E,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens
0,Sub Total:,4000.0,116.0,3.0,1.0,9.0,13.0,6.0,3.0,0.0,...,651.0,2.0,7,0.0,0.093098,0.025862,0.163793,0.112069,0.051724,2754
1,Sub Total:,4000.0,116.0,3.0,1.0,9.0,13.0,6.0,3.0,0.0,...,651.0,2.0,7,0.0,0.093098,0.025862,0.163793,0.112069,0.051724,2754

<class 'pandas.core.frame.DataFrame'>

In [10]:
df_total_geral = df_total_geral.sum().to_frame().T
df_total_geral['Réplica'] = 'Total geral:'
df_total_geral.insert(1, 'Réplica Ativa', '')
df_total_geral

,Réplica,Réplica Ativa,TOTAL,Total Elegíveis,20,5,6,4,44,66,...,7 N.E,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens
0,Total geral:,,8000.0,232.0,6.0,2.0,18.0,26.0,12.0,6.0,...,1302.0,4.0,14,0.0,0.186196,0.051724,0.327586,0.224138,0.103448,5508

In [11]:
nova_coluna = [''] * 29
df_total_geral.columns = nova_coluna
df_total_geral

,,,,,,,,,,,...,,,,,,,,,,
0,Total geral:,,8000.0,232.0,6.0,2.0,18.0,26.0,12.0,6.0,...,1302.0,4.0,14,0.0,0.186196,0.051724,0.327586,0.224138,0.103448,5508

In [12]:
replica_ativa = []
for i in range(len(tabela["Tx. Elegível"])):
    if tabela.loc[i, "Tx. Elegível"] > 0:
        replica_ativa.append("SIM")
    else:
        replica_ativa.append("NÃO")
tabela["Réplica Ativa"] = replica_ativa
tabela = tabela[['Réplica', 'Réplica Ativa', 'TOTAL', 'Total Elegíveis', '20', '5', '6', '4', '44', '66', '7', '8', '9', '10', '88 Eleg', 
    'Total Não Eleg', '1', '2', '3', '7 N.E', '22', 'Out. Cid. 33', '88 Não Eleg', 
    'Tx. Elegível', 'Tx. Sucesso', 'Recusa Total', 'Recusa Agenda', 'Recusa Entrev.', 'Virgens']]
tabela

,Réplica,Réplica Ativa,TOTAL,Total Elegíveis,20,5,6,4,44,66,...,7 N.E,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens
0,1,SIM,400.0,47.0,1.0,1.0,1.0,6.0,1.0,3.0,...,248.0,0.0,2,0.0,0.1175,0.021277,0.148936,0.12766,0.021277,0
1,2,SIM,400.0,30.0,2.0,0.0,2.0,4.0,1.0,0.0,...,193,0.0,1,0.0,0.098684,0.066667,0.166667,0.133333,0.033333,96
2,3,SIM,400.0,15.0,0.0,0.0,4.0,1.0,2.0,0.0,...,71,0.0,2,0.0,0.05137,0.0,0.2,0.066667,0.133333,108
3,4,SIM,400.0,22.0,0.0,0.0,2.0,1.0,2.0,0.0,...,135,2.0,2,0.0,0.090164,0.0,0.136364,0.045455,0.090909,156
4,5,SIM,400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,0.0,0,0.0,0.333333,0.0,0.0,0.0,0.0,397
5,6,SIM,400.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,2,0.0,0,0.0,0.333333,0.0,1.0,1.0,0.0,397
6,7,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
7,8,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
8,9,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
9,10,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
10,Sub Total:,SIM,4000.0,116.0,3.0,1.0,9.0,13.0,6.0,3.0,...,651.0,2.0,7,0.0,0.093098,0.025862,0.163793,0.112069,0.051724,2754

In [13]:
tabela.loc[int(REPLICAS[0]), 'Réplica Ativa'] = ''
tabela

,Réplica,Réplica Ativa,TOTAL,Total Elegíveis,20,5,6,4,44,66,...,7 N.E,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens
0,1,SIM,400.0,47.0,1.0,1.0,1.0,6.0,1.0,3.0,...,248.0,0.0,2,0.0,0.1175,0.021277,0.148936,0.12766,0.021277,0
1,2,SIM,400.0,30.0,2.0,0.0,2.0,4.0,1.0,0.0,...,193,0.0,1,0.0,0.098684,0.066667,0.166667,0.133333,0.033333,96
2,3,SIM,400.0,15.0,0.0,0.0,4.0,1.0,2.0,0.0,...,71,0.0,2,0.0,0.05137,0.0,0.2,0.066667,0.133333,108
3,4,SIM,400.0,22.0,0.0,0.0,2.0,1.0,2.0,0.0,...,135,2.0,2,0.0,0.090164,0.0,0.136364,0.045455,0.090909,156
4,5,SIM,400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,0.0,0,0.0,0.333333,0.0,0.0,0.0,0.0,397
5,6,SIM,400.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,2,0.0,0,0.0,0.333333,0.0,1.0,1.0,0.0,397
6,7,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
7,8,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
8,9,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
9,10,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0,0,0,0,400
10,Sub Total:,,4000.0,116.0,3.0,1.0,9.0,13.0,6.0,3.0,...,651.0,2.0,7,0.0,0.093098,0.025862,0.163793,0.112069,0.051724,2754

In [15]:
tabela.loc[:, 'Total Tentativas'] = ''
tabela

,Réplica,Réplica Ativa,TOTAL,Total Elegíveis,20,5,6,4,44,66,...,22,Out. Cid. 33,88 Não Eleg,Tx. Elegível,Tx. Sucesso,Recusa Total,Recusa Agenda,Recusa Entrev.,Virgens,Total Tentativas
0,1,SIM,400.0,47.0,1.0,1.0,1.0,6.0,1.0,3.0,...,0.0,2,0.0,0.1175,0.021277,0.148936,0.12766,0.021277,0,
1,2,SIM,400.0,30.0,2.0,0.0,2.0,4.0,1.0,0.0,...,0.0,1,0.0,0.098684,0.066667,0.166667,0.133333,0.033333,96,
2,3,SIM,400.0,15.0,0.0,0.0,4.0,1.0,2.0,0.0,...,0.0,2,0.0,0.05137,0.0,0.2,0.066667,0.133333,108,
3,4,SIM,400.0,22.0,0.0,0.0,2.0,1.0,2.0,0.0,...,2.0,2,0.0,0.090164,0.0,0.136364,0.045455,0.090909,156,
4,5,SIM,400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.333333,0.0,0.0,0.0,0.0,397,
5,6,SIM,400.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0,0.0,0.333333,0.0,1.0,1.0,0.0,397,
6,7,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0,0,0,0,400,
7,8,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0,0,0,0,400,
8,9,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0,0,0,0,400,
9,10,NÃO,400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0,0,0,0,400,
10,Sub Total:,,4000.0,116.0,3.0,1.0,9.0,13.0,6.0,3.0,...,2.0,7,0.0,0.093098,0.025862,0.163793,0.112069,0.051724,2754,

In [16]:
tabela.columns = pd.MultiIndex.from_product([["ARACAJU"], tabela.columns])
tabela

       ARACAJU                                                             \
       Réplica Réplica Ativa   TOTAL Total Elegíveis   20    5    6     4
0            1           SIM   400.0            47.0  1.0  1.0  1.0   6.0
1            2           SIM   400.0            30.0  2.0  0.0  2.0   4.0
2            3           SIM   400.0            15.0  0.0  0.0  4.0   1.0
3            4           SIM   400.0            22.0  0.0  0.0  2.0   1.0
4            5           SIM   400.0             1.0  0.0  0.0  0.0   0.0
5            6           SIM   400.0             1.0  0.0  0.0  0.0   1.0
6            7           NÃO   400.0             0.0  0.0  0.0  0.0   0.0
7            8           NÃO   400.0             0.0  0.0  0.0  0.0   0.0
8            9           NÃO   400.0             0.0  0.0  0.0  0.0   0.0
9           10           NÃO   400.0             0.0  0.0  0.0  0.0   0.0
10  Sub Total:                4000.0           116.0  3.0  1.0  9.0  13.0

              ...                                                         \
     44   66  ...   22 Out. Cid. 33 88 Não Eleg Tx. Elegível Tx. Sucesso
0   1.0  3.0  ...  0.0            2         0.0       0.1175    0.021277
1   1.0  0.0  ...  0.0            1         0.0     0.098684    0.066667
2   2.0  0.0  ...  0.0            2         0.0      0.05137         0.0
3   2.0  0.0  ...  2.0            2         0.0     0.090164         0.0
4   0.0  0.0  ...  0.0            0         0.0     0.333333         0.0
5   0.0  0.0  ...  0.0            0         0.0     0.333333         0.0
6   0.0  0.0  ...  0.0            0         0.0            0           0
7   0.0  0.0  ...  0.0            0         0.0            0           0
8   0.0  0.0  ...  0.0            0         0.0            0           0
9   0.0  0.0  ...  0.0            0         0.0            0           0
10  6.0  3.0  ...  2.0            7         0.0     0.093098    0.025862


   Recusa Total Recusa Agenda Recusa Entrev. Virgens Total Tentativas
0      0.148936       0.12766       0.021277       0
1      0.166667      0.133333       0.033333      96
2           0.2      0.066667       0.133333     108
3      0.136364      0.045455       0.090909     156
4           0.0           0.0            0.0     397
5           1.0           1.0            0.0     397
6             0             0              0     400
7             0             0              0     400
8             0             0              0     400
9             0             0              0     400
10     0.163793      0.112069       0.051724    2754

[11 rows x 30 columns]

In [30]:
tabela.to_excel("Exportar.xlsx")